<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Demo</title>
	<meta name="name" content=""/>
	<meta name="viewport" content="width=device-width"/>
	<base href="/"/>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
	<script type="text/javascript" src="/js/controllers.js"></script>
	<style type="text/css">
	html {
		position: relative;
		height: 100%;
	}
	a[ng-click] {
		cursor: pointer;
	}
	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	 	display: none !important;
	}
	</style>
</head>
<body ng-app="app" ng-controller="main">
<div class="container-fluid">
  <div class="row content" id="row-content">
    <div ng-controller="navigation as nav" class="col-sm-3 sidenav">
      <h4>To-Dos Application</h4>
      <ul id="buttons" class="nav nav-pills nav-stacked">
        <li class="active"><a href="/main" target="_self">List tasks</a></li>
        <li><a href="/listgroups" target="_self">List groups</a></li>
        <li><a href="/addtask" target="_self">Add task</a></li>
        <li><a href="/addgroup" target="_self">Add group</a></li>
        <li><a ng-click="nav.logout()">Logout</a></li>
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Task..."/>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>

    <div class="col-sm-9">
    	<div id="show-tasks">
			<hr>
			<div ng-repeat="taskobject in tasks">
				<div ng-repeat="task in taskobject.tasks">
					<div class="container-fluid">
						<div class="row content">
							<div class="col-sm-12"><h2>{{task.name}}</h2></div>
							<div class="col-sm-9">
								<h5><strong>Group:</strong> <span class="label" style="background-color: {{taskobject.colour}};">{{taskobject.name}}</span></h5>
							</div>
							<div class="col-sm-3">
								<a href="/addtask?id={{task.id}}" class="btn btn-default btn-md" role="button">View</a>
								<button type="button" class="btn btn-danger btn-md" data-toggle="modal" data-target="#myModal" ng-click="rememberId(task.id)">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							  	</button>
							</div>
							<div class="col-sm-12">
								<p><strong>Description:</strong> {{task.description}}</p>
							</div>
						</div>
						<hr>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row content" ng-if="error" ng-cloak>
    	<div class="col-sm-12 alert alert-danger">
		  <strong>Error!</strong> Something went wrong!
		</div>
	</div>
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Warning</h4>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete that task?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning" ng-click="remove()">Yes</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>
</body>
</html>
